body {
}

#more {
    display: none;
}

/*Removes background from the show more button and makes */
#myBtn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.flaske-uden-lys{
   width: 40%;
    height: 40%;
}

.englelogo-flaske{
    width: 40%;
    height: 40%;
}

#more2{
    display: none;
}

#myBtn2{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}